/* Style global
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Style de l'en-tête */
  header {
    background-color: rgb(40, 104, 243);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header h1 {
    font-size: 4rem;
    margin: 0;
  }
  
  header nav {
    display: flex;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: #ccc;
  }
  
  /* Style du formulaire de recherche */
  #search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #search-form label {
    margin-right: 10px;
  }
  
  #search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #search-form button[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
  } 
  .modal-img{
    height: 50px;
    width: 20rem;
  } 
 
  p{
    font-size: 10px;
  }/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/* #staticBackdrop{
  width: 50rem;
  height: 50rem;
}  */